{% extends 'base.html' %}
{% load static %}
{% block page_title %}
show all post
{% endblock %}
{% block header_reference %}
   <link rel="stylesheet" href={% static 'blogs/index.css' %}>
<link rel="stylesheet" href={% static 'blogs/posts.css' %}>
{% endblock %}

{% block page_content %}

<section id ="all-posts">
<h2>
this is all post
</h2>
<ul>

{#    <li><a href="#" >test</a></li>#}
{#    <li><a href="#" >test</a></li>#}
{#    <li><a href="#" >test</a></li>#}
    {% for post in leatest_post %}



        {% include 'blogs/includes/header.html' %}

    {% endfor %}

</ul>
</section>


{% endblock %}