<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_module:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:user-register'%}">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:user-login' %}">login</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:logout' %}">log out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>